@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div>
    <h3>Tuba SADAY</h3>
</div>
<address>
    <strong>Linkedin:</strong>   <a href="https://tr.linkedin.com/in/tuba-saday-8a88a6101">Tuba Saday</a><br />
    <strong>Telefon:</strong> <span>(538)-078-25-70</span><br/>
    <strong>Mail:</strong>   <a href="mailto:tuba.saday@hotmail.com">tuba.saday@hotmail.com</a><br />
</address>