@model IEnumerable<TubaSaday.Models.Product>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>

<h2>List</h2>
<table class="table" id="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdatedTime)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedTime)
            </td>
        </tr>
    }
    </tbody>
</table>

<script src="~/Content/DataTables/datatables.min.js"></script>
<script>
    $().ready(function () {
        var interval = 1000 * 60 * 3;
        setInterval(function() { window.location = "/Home/List"; }, interval);
    });
    $('#table').DataTable();
</script>
